<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Ultra Chickengame</title>

  <!-- Add Vue to the Project -->
  <script src="https://unpkg.com/vue"></script>

  <!-- Add Bootstrap and Bootstrap-Vue CSS to the <head> section -->
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

  <!-- Add Vue and Bootstrap-Vue JS just before the closing </body> tag -->
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

  <!-- Polyfill for old and stupid browsers *cough* IE *cough* -->
  <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>

</head>

<body>
  <div id="app">
    <b-card-group>
      <b-card  header="Eggs">
        <b-layout fluid>
          <b-row>
            <b-col>
              {{ Eggs.score }} {{ Eggs.score === 1n ? "Egg" : "Eggs"}}
            </b-col>
            <b-col cols="6">
              <b-button @click="addManual" variant="primary">+ {{ buttonValue }}</b-button>
              <b-button @click="addManual2" variant="primary">+ {{ buttonValue2 }}</b-button>
              <b-button @click="sellEggs" variant="primary" :disabled="Eggs.score == 0">{{ Eggs.money }} $</b-button>
            </b-col>
          </b-row>
        </b-layout>
      </b-card>
      <b-card  header="Chickens">
        <b-layout fluid>
          <b-row>
            <b-col>
              <div>{{ chicken.count }} {{ chicken.count === 1 ? "Chicken" : "Chickens"}}</div>
            </b-col>
            <b-col cols="6">
              <b-button @click="buyChicken" variant="primary" :disabled="Eggs.score < chicken.price">{{ chicken.price }} Eggs</b-button>
              <b-button @click="sellChicken" variant="primary" :disabled="chicken.count == 0" class="mt-2">{{ chicken.money }} $</b-button>
            </b-col>
          </b-row>
          <b-row v-if="chicken.allowImprovements">
            <b-col>
              Improve Chickens
            </b-col>
            <b-col cols="6">
              <b-button @click="improveChicken" variant="primary" class="mt-2" :disabled="Eggs.score < chicken.improvmentprice">
                {{ chicken.improvmentprice }}
              </b-button>
            </b-col>
          </b-row>
        </b-layout>
      </b-card>
      <b-card  header="Chickenwings">
        <b-layout fluid>
          <b-row>
            <b-col>
              {{ chickenWings.count }} Chickenwings
            </b-col>
            <b-col cols="6">
              <b-button @click="killChicken" variant="primary" :disabled="chicken.count < chickenWings.price">{{ chickenWings.price }} Chicken</b-button>
              <b-button @click="sellChickenWings" variant="primary" :disabled="chickenWings.count == 0" class="mt-2">{{ chickenWings.money }} $</b-button>
            </b-col>
          </b-row>
          <b-row v-if="Butcher.allowChickenThighs">
            <b-col>
              {{ Butcher.chickenThighs.count }} Chicken thighs
            </b-col>
            <b-col cols="6">
            </b-col>
          </b-row>
          </b-row>
          <b-row v-if="Butcher.allowChickenBreast">
            <b-col>
              {{ Butcher.chickenBreast.count }} Chicken thighs
            </b-col>
            <b-col cols="6">
            </b-col>
          </b-row>
          </b-row>
        </b-layout>
      </b-card>
      <b-card style="width: 500rem;" header="Money">
        <b-layout fluid>
          <b-row>
            <b-col>
              {{ Money.count }} $
            </b-col>
            <b-col cols="6">
            </b-col>
          </b-row>
        </b-layout>
      </b-card>
    </b-card-group>
    <b-card>
      <pre>
        {{ $data }}
      </pre>
    </b-card>
    <b-card style="width: 20rem;" header="Incubator">
      <b-layout fluid>
        <b-row>
          <b-col>
            Level {{Incubator.LvL}}
          </b-col>
          <b-col cols="6">
            <b-button @click="buyIncubator" variant="primary" :disabled="Money.count < Incubator.price" >{{ Incubator.price }} $</b-button>
          </b-col>
        </b-row>
      </b-layout>
    </b-card>
    <b-card style="width: 20rem;" header="Shop">
      <b-layout fluid>
        <b-row>
          <b-col>
            Eggs on stock {{ Eggs.onStock }}
          </b-col>
          <b-col cols="6">
            <b-button @click="buyEggs" variant="primary" :disabled="Money.count < Eggs.price">{{ Eggs.price }} $</b-button>
          </b-col>
        </b-row>
      </b-layout>
    </b-card>
    <b-card style="width: 20rem;" header="Upgrade Butcher">
      <b-layout fluid>
        <b-row>
          <b-col>    
            chicken thighs
          </b-col>
          <b-col cols="6">
            <b-button @click="upgradeButcher" variant="primary" :disabled="Money.count < Butcher.price"> {{ Butcher.price }} $ to Unlock </b-button>
          </b-col>
        </b-row>
        <b-row>
          <b-col>    
            chicken breast
          </b-col>
          <b-col cols="6">
            <b-button @click="upgradeButcher" variant="primary" :disabled="Money.count < Butcher.price" class="mt-2"> {{ Butcher.price }} $ to Unlock </b-button>
          </b-col>
        </b-row>
      </b-layout>
    </b-card>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        steps: 0,
        message: 'Hello Vue!',
        Eggs: {
          score: 0,
          money: 1,
          price: 1,
          onStock: 0,
        },
        
        increment: 0.00,
        buttonValue: 1,
        buttonValue2: 50,
        chicken: {
          count: 1,
          price: 100,
          money: 5,
          improvmentprice: 400,
          allowImprovements: false,
          production: {
            strength: 1,
            stepsRequired: 5000,
            stepsDone: 0
          }
        },
        chickenWings: {
          count: 0,
          price: 1,
          money: 3,
        },
        Money: {
          count: 0,
        },
        Incubator:{
          LvL: 0,
          price: 20,
          strength: 0.0001,
        },
        Butcher:{
          price: 100,
          price2: 200,
          allowChickenThighs: false,
          allowChickenBreast: false,
          chickenThighs:{
            count: 0,
          chickenBreast: {
            count: 0,
          },
          }
        }
        
      },
      created: function () {
        // Nächste Zeile ignorieren
        BigInt.prototype.toJSON = function () { return this.toString() }
        setInterval(() => {
          this.update()
        }, 10)
        setInterval(() =>{
          this.setRandomAmountOfEggs()
        }, 1000*10)
        this.setRandomAmountOfEggs()
      },
      methods: {
        update: function () {
          this.steps++
          // Eier legen
          this.chicken.production.stepsDone += this.chicken.count * this.chicken.production.strength
          if (this.chicken.production.stepsDone >= this.chicken.production.stepsRequired) {
            this.Eggs.score += this.chicken.production.strength
            this.chicken.production.stepsDone = 0
          }

          if (this.steps >= 50) {
            this.steps = 0
            //Möglichkeit Schlüpfen
            hatchedCount = 0
            for (let i = 0; i < this.Eggs.score; i++){
              if (Math.random() < this.Incubator.strength){
                hatchedCount++
              }
            }
            this.chicken.count += hatchedCount
            this.Eggs.score -= hatchedCount
          }
        },
        addManual: function () {
          this.Eggs.score += this.buttonValue
        },
        addManual2: function () {
          this.Eggs.score += this.buttonValue2
        },
        buyChicken: function () {
          if (this.Eggs.score >= this.chicken.price) {
            this.Eggs.score -= this.chicken.price
            this.chicken.count++
            this.chicken.price = Math.ceil(this.chicken.price * 1.2)
            if (this.chicken.count == 5) {
              this.chicken.allowImprovements = true
            }
          }
        },
        killChicken: function () {
          if (this.chicken.count >= this.chickenWings.price) {
            this.chicken.count -= this.chickenWings.price
            this.chickenWings.count += 2
          
            if (this.Butcher.allowChickenThighs == true) {
              this.Butcher.chickenThighs.count += 2
            }
          }
        },
        improveChicken: function () {
          if (this.Eggs.score >= this.chicken.improvmentprice) {
            this.Eggs.score -= this.chicken.improvmentprice
            this.chicken.production.stepsRequired = Math.floor(this.chicken.production.stepsRequired * 0.95)
            this.chicken.improvmentprice = Math.ceil(this.chicken.improvmentprice * 1.5)
          }
        },
        sellChickenWings: function () {
          if (this.chickenWings.count >= 2){
            this.Money.count += this.chickenWings.money
            this.chickenWings.count -= 2
          }
        },
        sellChicken: function () {
          if (this.chicken.count >= 1){
            this.Money.count += this.chicken.money
            this.chicken.count -= 1
          }
        },
        sellEggs: function () {
          if (this.Eggs.score >= 1){
            this.Money.count += this.Eggs.money
            this.Eggs.score -= 1
          }
        },
        buyIncubator: function () {
          if (this.Money.count >= this.Incubator.price){
            this.Money.count -= this.Incubator.price
            this.Incubator.price +=30
            this.Incubator.LvL ++
            this.Incubator.strength *=2
          }
        },
        buyEggs: function () {
          if (this.Money.count >= this.Eggs.price && this.Eggs.onStock > 0){
            this.Money.count -= this.Eggs.price
            this.Eggs.score += this.Eggs.onStock
          }
        },
        setRandomAmountOfEggs: function () {
          this.Eggs.onStock = Math.floor(Math.random()*10)
        },
        upgradeButcher: function () {
          if (this.Money.count >= this.Butcher.price){
            this.Money.count -= this.Butcher.price
            this.Butcher.allowChickenThighs = true

            if(this.Money.count >= this.Butcher.price2 && this.Butcher.allowChickenThighs == true){
              this.Money.count -= this.Butcher.price2
              this.Butcher.allowChickenBreast = true
            }
          }
        },
      }
    })
  </script>
</body>

</html>